@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fg: #2F3E46;
  --bg: #F7F9F8;
  --green: #49A078;
  --green-secondary: #9CC5A1;
  --gray: #DCE1DE;
}

body {
  color: var(--fg);
  background: var(--bg)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
